.SubjectsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.subjectSearchCard {
    display: flex;
    justify-content: space-between;
    width: 240px;
    height: 46px;
    background-color: rgb(253, 249, 188);
    border-radius: 5px;
    text-align: left;
    padding: 10px;
    margin: 10px;
    border: 1px black solid;
    transition: width 400ms ease-in-out, opacity 300ms, margin 400ms ease-in-out, padding 400ms ease-in-out;
}

.subjectSearchCard p {
    margin: 0;
}

.subjectSearchCard button {
    margin: 0;
    margin-left: 5px;
}

