@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,400;0,600;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1, h2, h3, h4, h5, h6 {
 font-family: 'Georama', sans-serif;
}

p, span, a {
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.authLink {
  color: darkslategrey
}

.authLink:hover {
  color: darkgray;
}

main {
  margin-top: 64px;
  min-height: 500px;
  z-index: 0;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color: rgb(110, 1, 1);
  border-top: ridge 5px rgb(179, 0, 30);
  color: white;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: right;
}

footer a {
  color: darkgray;
}

footer a:hover {
  color: darkslategray;
}

