.legislatorSearchDisplay {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.legislatorChamberDisplaySBS {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 544px;
}

.legislatorChamberDisplayNonSBS {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 1088px;
}

.legisListFullWidth {
    grid-column: 1 / span 2;
}

.legislatorSearchCard {
    width: 250px;
    height: auto;
    display: flex;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: left;
    transition: width 400ms ease-in-out, opacity 300ms, margin 400ms ease-in-out;
    border: 1px solid black
}



.legislatorSearchCard img {
    width: 75px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    image-rendering: -webkit-optimize-contrast;
}

.legislatorSearchCard p {
    margin: 0;
    margin-left: 10px;
    padding: 0;
}

.searchCardText {
    width: 175px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.legislatorSearchCard strong,
.legislatorSearchCard i,
.legislatorSearchCard a
 {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black
}

.searchCardButtons {
    text-align: right;
}

.searchCardButtons button {
    margin-right: 5px;
    margin-bottom: 5px;
}

.legisDisplayCentering {
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 1100px) {
    .legislatorSearchDisplay {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .sideBySideButton {
        display: none;
    }

    .legislatorChamberDisplayNonSBS {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: left;
        width: 544px;
    }

    .legisListFullWidth {
        grid-column: 1 / span 1;
    }
  }


@media screen and (max-width: 570px) {
    .legislatorSearchDisplay {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .sideBySideButton {
        display: none;
    }

    .legislatorChamberDisplayNonSBS {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: left;
        width: 272px;
    }

    .legisListFullWidth {
        grid-column: 1 / span 1;
    }
  }